<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Action Management</title>
        <link rel="stylesheet" href="../main.css">
        <link href='https://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="../js/jquery-2.0.0.min.js"></script>
        <link href="../styles/smart_wizard.css" rel="stylesheet" type="text/css">
        <script type="text/javascript" src="../js/jquery.smartWizard.js"></script>
        <script type="text/javascript">
          $(document).ready(function() {
              // Initialize Smart Wizard
                $('#wizard').smartWizard();
          }); 
        </script>
        <script>
            var actionsJson = '<%- actionsJson %>';
            actionJson = actionsJson.replace(/&quot;/g,'"').replace(/\r\n/g, "\\\\r\\\\n");
        </script>
    </head>
    <body>
        <div id="header">
            <div class="wrapper">
                <a class="logobutton" href="../ButtonManagement">
                    <div id="logo">
                        Revere
                    </div>
                </a>
            </div>
        </div>
        <div id="container">
        <div class="actionMngtCnt" id="content">
            <div class="wrapper">
                <div id="wizard" class="swMain">
                    <ul style="visibility: hidden;">
                        <li><a href="#step-1">
                            <span class="stepDesc">
                            </span>
                        </a></li>
                        <li><a href="#step-2">
                            <span class="stepDesc">
                            </span>
                        </a></li>
                    </ul>
                    <div id="step-1">
                        <div id="changeButtonDiv">
                            <form action="NameChange?id=<%= triggerId %>" method="post">
                                <input id="changeName" tabindex="1" class="inputtext" type="text" name="changeName" autocomplete="off" value="<%= buttonName %>">&nbsp;&nbsp;&nbsp;&nbsp;
                                <input class="button" type="submit" tabindex="4" value="Change Name" />
                            </form>
                        </div>
                        <div id="actionDetailScrollDiv">
                            <script src="../actionDetail.js"></script>
                        </div>
                    </div>
                    <form action="" method="post">
                        <div id="step-2">
                            <input type="hidden" id="newDelivery" name="newDelivery" value="true">
                            <input type="hidden" id="actionIndex" name="actionIndex" value="0">
                            <input type="hidden" id="deliveryIndex" name="deliveryIndex" value="0">
                            <table class="addMessageTable" style="margin-left: auto; margin-right: auto;">
                            <tbody>
                                <tr>
                                    <td>
                                        <label for="addMsgName">Slack Channel Display Name</label><br/>
                                        <input id="addMsgName" tabindex="1" class="inputtext" type="text" name="addMsgName" autocomplete="off"><br/>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="addMsgTarget">Slack Channel Name</label><br/>
                                        <input id="addMsgTarget" tabindex="1" class="inputtext" type="text" name="addMsgTarget" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <label for="addMsgWebhook">Slack Channel Webhook</label><br/>
                                        <input id="addMsgWebhook" tabindex="1" class="inputtext" type="text" name="addMsgWebhook" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td><br/>
                                        <label for="addMsgTitle">Title</label><br/>
                                        <input id="addMsgTitle" tabindex="1" class="inputtext" type="text" name="addMsgTitle" autocomplete="off">
                                    </td>
                                </tr>
                                <tr>
                                    <td><br/>
                                        <label for="addMsgMessage">Message</label><br/>
                                        <textarea id="addMsgMessage" rows="10"; tabindex="2" class="inputtext" name="addMsgMessage"  autocomplete="off"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-top: 25px; padding-bottom:25px;">
                                            <input id="changeMessage" type="submit" value="Change Message" class="button"/>&nbsp;
                    </form>
                                            <button id="goBack" type="button" class="button">Go Back</button>&nbsp;
                                            <form action="Delete?id=<%= triggerIdDelete %>" method="post">
                                                <input type="hidden" id="deleteActionIndex" name="deleteActionIndex" value="0">
                                                <input type="hidden" id="deleteDeliveryIndex" name="deleteDeliveryIndex" value="0">
                                                <button id="deleteButton" type="submit" class="button">Delete Delivery</button>
                                            </form>
                                        </td>
                                    <script>
                                        $('#goBack').click(function(){$('#wizard').smartWizard('goToStep', 1);});
                                    </script>
                                </tr>
                            </tbody>
                            </table>
                        </div>                    
                    </div>
            </div> <!-- wrapper -->
        </div> <!-- content -->
	</div>
    </body>
</html>