<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add Button</title>
        <link rel="stylesheet" href="main.css">
        <link href='https://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="header">
            <div class="wrapper">
                <div id="logo">
                    Lantern
                </div>
            </div>
        </div>
        <div id="container">
        <div class="loginCnt" id="content">
            <div class="wrapper">
                <form method="post" action="">
                <input type="hidden" value="false" name="returning" id="returning">
                    <table class="login" style="margin-left: auto; margin-right: auto;">
                    <tbody>
                        <tr>
                            <td>
                                <p><label for="buttonName">Button Name</label></p>
                                <input tabindex="2" class="inputtext" type="text" name="buttonName" id="buttonName" autocomplete="off">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 25px; padding-bottom:25px;"><input class="submitBtn button" type="submit" tabindex="4" value="Add Button"></td>
                        </tr>
                    </tbody>
                    </table>
                </form>
            </div> <!-- wrapper -->
        </div> <!-- content -->
	</div>
    </body>
</html>