<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Button Management</title>
        <link rel="stylesheet" href="main.css">
        <link href='https://fonts.googleapis.com/css?family=Bitter:400,700' rel='stylesheet' type='text/css'>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script>
            var buttonsJson = '<%= buttonsJson %>';
            buttonsJson = buttonsJson.replace(/&quot;/g,'"');
        </script>
    </head>
    <body>
        <div id="header">
            <div class="wrapper">
                <a class="logobutton" href="../">
                    <div id="logo">
                        Revere
                    </div>
                </a>
            </div>
        </div>
        <div id="container">
        <div class="buttonMngtCnt" id="content">
            <div class="wrapper">
                <div id="addButtonDiv">
                    <a href="../AddButton"><input class="addBtn button" type="submit" tabindex="4" value="+" /></a>
                </div>
                <div id="buttonMngtScrollDiv">
                    <table cellspacing="10" class="buttonMngtTbl" style="margin-left: auto; margin-right: auto;">
                    </table>
                    <script src="ButtonManagement.js"></script>
                </div>
            </div> <!-- wrapper -->
        </div> <!-- content -->
	</div>
    </body>
</html>