<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Log In</title>
        <link rel="stylesheet" href="main.css">
        <link href='https://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="header">
            <div class="wrapper">
                <div id="logo">
                    Revere
                </div>
            </div>
        </div>
        <div id="container">
        <div class="loginCnt" id="content">
            <div class="wrapper">
                <form method="post" action="/ButtonManagement">
                <input type="hidden" value="false" name="returning" id="returning">
                    <table class="login" style="margin-left: auto; margin-right: auto;">
                    <tbody>
                        <tr>
                            <td>
                                <p><label for="password">Password</label></p>
                                <input tabindex="2" class="inputtext" type="password" name="password" id="password" autocomplete="off">
                            </td>
                        </tr>
                        <tr>
                            <td style="padding-top: 25px; padding-bottom:25px;"><input class="submitBtn button" type="submit" tabindex="4" value="Log in"></td>
                        </tr>
                    </tbody>
                    </table>
                </form>
            </div> <!-- wrapper -->
        </div> <!-- content -->
	</div>
    </body>
</html>