/*
Color Codes:

Buttons and body background
384952

borders
384952

Content Background
CFD0D1

Lighter blue than body
66AA8A
*/

body {
    background: #384952;
    color: #545454;
    font-family: "Bitter", serif;
    font-size:1em;
    line-height: 1.5;
}

#content {
    margin: 0 auto;
    background: #CFD0D1;
    border-radius: 6px;
    color: #000;
}

.wrapper {
    text-align: center;
}

#logo {
    color: #FFF;
    margin: 0 auto;
    width: 290px;
    height: 85px;
    padding-top: 33px;
    padding-left: 33px;
    font-size: 2em;
    background: url(/img/revere.png);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: 0px 15px;
}

input {
    box-shadow: none;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    font-size: 1.2em;
}

.buttonMngtTbl {
    width: 600px;
}

.loginCnt {
    width: 460px;
}

.buttonMngtCnt {
    width: 630px;
}

.buttonMngtTbl td {
    background: #82AEB9;
    color: #000;
    font-size: 1.1em;
    padding: 15px 20px 15px 20px;
    text-align: left;
    vertical-align: middle;
}

/* Buttons */

.button {
    background: #384952;
    color: #FFF;
    border: none;
    border-radius:1px;
    font-family: "Bitter", serif;
}

.submitBtn {
    font-size: 1em;
    padding: 8px 25px 8px 25px;
}

.addBtn {
    font-size: 1.6em;
    font-weight: bold;
    padding: 3px 65px 3px 65px;
}

.editBtn{
    font-size: 0.9em;
    padding: 8px 30px 8px 30px;
    float:right
}

#buttonMngtScrollDiv {
    border-top: 3px solid #384952;
    height: 300px;
    overflow-y:scroll;
}

#addButtonDiv {
    padding-top: 15px;
    padding-bottom:25px;
    background: #82AEB9;
}

#changeButtonDiv{
    width: 100%;
    padding-top: 15px;
    padding-bottom:25px;
    text-align: center;
}

.actionDetailRow button {
    padding: 10px 20px 10px 20px;
    margin: 10px;
    font-size: 0.8em;
}

.actionMngtCnt {
    width: 70%;
}

#actionDetailTbl {
    width: 100%;
    border-collapse:collapse;
}

#actionDetailTbl tr {
    border-bottom: 1px solid #666 !important;
    background: #66AA8A;
}

#actionDetailScrollDiv {
    min-height: 500px;
    overflow-y:scroll;
}

#actionDetailTbl td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.actionDetailDlvryCol {
    float: left;
    align-self: center;
    width: 35%;
    min-width: 100px;
}

.actionDetailTrigger {
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    float: left;
    width: 100%;
    background: #82AEB9;
}

.ADDeliveryCol button {
    width: auto;
    padding: 10px 20px 10px 40px;
    margin: 10px;
    font-size: 0.9em;
}

.addDeliveryBtn {
    background-image: url(img/Plus_Icon.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 6px 9px;
}

.emailBtn {
    background-image: url(img/Mail_Icon.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 6px 12px;
}

.slackBtn {
    background-image: url(img/Slack_Icon.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 6px 8px;
}

#addDeliveryPage {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: left;
    width: 100%;
    background: #66AA8A;
    border-radius: 3px;
    min-height: 300px;
}

#addDeliverySearchColumn {
    height: 100%;
    width: 33%;
    background: #000;
}

.actionDetailHeader {
    float: left;
    width: 100%;
    text-align: center;
}

.actionDetailMsgCol {
    float: left;
    align-self: center;
    width: 65%;
    min-width: 300px;
}

.actionDetailRow {
    width: 100%;
    float: left;
    border-bottom: 2px solid #CFD0D1;
}

.actionDetailLastRow {
    border-bottom: 0px;
}

.addMessageTable {
    padding-top: 30px;
    width: 100%;
}

#addMsgTitle {
    width: 100%;
}

#addMsgMessage {
    width: 100%;
}

#changeMessage {
    padding: 10px 20px 10px 20px;
    font-size: 0.9em;
}

#goBack {
    padding: 10px 20px 10px 20px;
    font-size: 0.9em;
}

#deleteButton {
    padding: 10px 20px 10px 20px;
    font-size: 0.9em;
}

.logobutton {
    color: #000;
    text-decoration: none;
}

#addMsgTarget {
    width: 100%;
}

#addMsgName {
    width: 100%;
}

#addMsgWebhook {
    width: 100%;
}

textarea {
    box-shadow: none;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    font-size: 0.8em;
}

form {
    display: inline;
}